/Ticketing & ITSM/glpi_data/
/Ticketing & ITSM/glpi_db/
/wordpress/wordpress_data/
/wordpress/db_data/
/jupyterLab/work/
/elk/elasticsearch_data/
/elk/logstash/
/elk/filebeat/
/elk/filebeat_data/

# DevOps project data directories
/devops/gitlab/
/devops/mysql_data/
/devops/redis_data/
/devops/runner/
/devops/.env
